body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
}

textarea, input {
    width: 100vh;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.wrapper {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
#chat-log {
    height: 70vh;
    width: 100vh;
}

#chat-message-submit {
    width: auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

#chat-message-submit:hover {
    background-color: #0056b3;
}
